  
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Permanent+Marker&family=Poppins:wght@400;700&family=Protest+Strike&display=swap');
  
  body{  
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
   background-color: chocolate;
    font-family: "Permanent Marker", cursive;
  font-weight: 800;

}